body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    background-color: #f7f7f7;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.content {
    margin-left: 270px;
    padding: 40px;
    flex: 1;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
