{% extends "base" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="article-content">
        {{ article_html | safe }}
    </div>
{% endblock %}
